.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: rgb(20, 20, 20); */
      background-color: transparent;
  
    /* background-color: red; */
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    text-decoration: none;
    align-items: center;
}
.header_left ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 120%;
    align-items: center;
   
    
}
.header_left{
    position: fixed;
    left: 1px;
}
.header_right ul{

    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 140%;
}
.header_right{
      position: fixed;
    right: 50px;
}

.nav_black{
    background-color: rgb(20, 20, 20);
}
.header_container{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.logo{
    width: 70px;
    padding-top: 10px;
}
